[Unit]
Description=Jenkins slave for pelux.io

[Service]
User=%i
Restart=always
ExecStart=/usr/bin/java -jar /home/%i/slave.jar -jnlpUrl <URL>/slave-agent.jnlp -secret <SECRET>

[Install]
WantedBy=multi-user.target